<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Backtester2.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Backtester2.Settings>
            <setting name="Symbol" serializeAs="String">
                <value />
            </setting>
            <setting name="StartDate" serializeAs="String">
                <value />
            </setting>
            <setting name="EndDate" serializeAs="String">
                <value />
            </setting>
            <setting name="Seed" serializeAs="String">
                <value />
            </setting>
            <setting name="Leverage" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxPositions" serializeAs="String">
                <value />
            </setting>
            <setting name="FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="Strategy" serializeAs="String">
                <value />
            </setting>
            <setting name="Interval1" serializeAs="String">
                <value />
            </setting>
            <setting name="Interval2" serializeAs="String">
                <value />
            </setting>
            <setting name="Interval3" serializeAs="String">
                <value />
            </setting>
            <setting name="FeeRate" serializeAs="String">
                <value />
            </setting>
            <setting name="DailyHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PositionHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SingleSymbol" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomSymbol" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomSymbolCount" serializeAs="String">
                <value />
            </setting>
            <setting name="RandomDatePeriod" serializeAs="String">
                <value />
            </setting>
            <setting name="LongEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShortEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxPositionsEach" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TradeHistory" serializeAs="String">
                <value>False</value>
            </setting>
        </Backtester2.Settings>
    </userSettings>
</configuration>