<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Albedo.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Albedo.Settings>
            <setting name="Interval" serializeAs="String">
                <value />
            </setting>
            <setting name="BinanceApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="BinanceSecretKey" serializeAs="String">
                <value />
            </setting>
            <setting name="UpbitApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="UpbitSecretKey" serializeAs="String">
                <value />
            </setting>
            <setting name="BithumbApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="BithumbSecretKey" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultPairCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultCandleCount" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="IndicatorString" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoritesString" serializeAs="String">
                <value />
            </setting>
        </Albedo.Settings>
    </userSettings>
</configuration>